# Supabase (required)
NEXT_PUBLIC_SUPABASE_URL=https://bvvsuollejcndcjjveal.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_yYLnG00XVemkgNmIXElHWA_S-2zLnRl
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ2dnN1b2xsZWpjbmRjamp2ZWFsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQyODI0NjMsImV4cCI6MjA5OTg1ODQ2M30.UBvJV8cq5ZEDxVit76QGnSyKfqwtGYYbPQ5VkmeNV38

# Server-only Supabase service-role key (NEVER expose to client)
SUPABASE_SERVICE_ROLE_KEY=

# Stripe (test mode)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Tus42PYWQQEuCOiZaP4TdTWIpCcuaK64GaGQFMH2Q8jJAJsw8Kequ7lDIEQUUXisTLFiFmGM7XNh4y5iuScEXoE0075S9EKvA
STRIPE_SECRET_KEY=sk_test_51Tus42PYWQQEuCOiFooeHdfNjI5O6lLVwPcZS85wiyVOaLuQGbyUopKOU7bsMl7xTeFVYyVLnlLxk8GeQIli46d500moCloXj4
STRIPE_WEBHOOK_SECRET=whsec_N6bOVaEu1UUDyvP0nKjun69OuJRpPUZe

# PostHog (optional)
NEXT_PUBLIC_POSTHOG_API_KEY=

# Sentry (optional)
SENTRY_DSN_ADMIN=
